body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-size: 70px;
  font-family: fantasy;
}

.navbar > span {
  color: seagreen;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.search-bar {
  position: relative;
  min-width: 500px;
  min-height: 25px;
}

.search-button {
  position: relative;
  min-height: 31px;
  margin-left: 10px;
}
